/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/** Resets **/
*,
*::before,
*::after {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
/*  width: 200px;
    height: 200px;  */
    border: 0.5px solid black;
    flex-wrap: wrap;
    
}

.gridPixels {
    background-color: blue;

}
